parameters:
    level: 8
    paths:
        - src
    bootstrapFiles:
        - ../../vendor/autoload.php

    # Report unmatched ignores so we know when issues are fixed
    reportUnmatchedIgnoredErrors: true
